.header-link {
    margin-right: 10px; 
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    color: #d4d4eb; 
    text-decoration: none; 
  }
  
  .header-link:hover {
    color: #23a2f6;
    text-decoration: none; 
  }
  .custom-navbar {
    height: 78px; 
    background-color: rgba(32, 40, 129, 0.329);
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
  }
  .navbar-brand {
    text-decoration: none; 
    font-size: 25px; 
    font-weight: bold; 
  }
  .navbar-brand:hover {
    text-decoration: none; 
  }
#username{
  color: white;
  text-decoration: none;
  font-size:medium;
}