.property-container{
    gap: 2rem;
    position: relative;
}
.property-container .like{
    position:absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
}
.swiper{
    margin-top: 4.5rem;
}
.swiper-slide{
    height: 10rem;
    width:30rem !important;
    padding: 0;
    margin: 2rem;
}
.swiper-slide .swiper-image{
    /* align-self: center; */
    height: 19rem!important;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    /* margin: 4.5rem; */
    overflow: hidden;
}

.swiper-button-next, .swiper-button-prev {
    right: 10px; 
  }

.property-details{
    width: 100%;
    gap: 2rem;
    justify-content: space-between;
}
.property-details>div{
    flex: 1;
    gap: 1.5rem;
}
.property-details .left .head{
    justify-content: space-between;
    width: 100%;
}
.facilities{
    gap: 1rem;
    font-size: 0.9rem;
    padding: 1rem;
}
.facility{
    gap: 0.5rem;
}
.property-details .button{
    width: 100%;
    margin-top: 1rem;
}
.property-details .button:hover{
    transform: scale(1.05);
}
